.container{
  display: grid;
  grid-template-columns: auto auto auto;
  
  justify-content: space-around;
  align-items: center;
}

.container{
  background-color: hotpink;
}
.container  > div:nth-child(3){
  background: #fff;
  transition:  all 2s ease-out ;
  
}
.container  > div:nth-child(3):hover{
  
  transform: scale(1.1 );  
}
